.editor {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--syntax-text-color);
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #555;
  box-sizing: border-box;
  display: block;
  padding: 15px 10px;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  overflow: scroll;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--syntax-background-color);
}

.viewEditor {
  color: #333;
  background-color: #FFF;
}
