.heading {
  font-weight: bold;
  color: rgba(79, 153, 184, 1);
}
.bold {
  font-weight: bold;
  color: #E8BB66;
}
.code {
  background-color: #597078;
  color: #FFF;
}
.codeBlock {
  color: #597078;
}
.italic {
  font-style: italic;
  color: rgba(148, 94, 184, 1);
}
.strike {
  text-decoration: line-through;
  color: #B0BEC5;
}
.inline {
  color: #B8D337;
}
.link {
  color: #FF5370;
}
.list {
  color: #FF5370;
}
.blockquote {
  color: #E53935;
}

.block {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5;
  min-height: 1.5em;
  padding-left: 2.3em;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  border-bottom: 1px solid #EEE;
  color: #333;

  &::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    counter-increment: section;
    content: counter(section);
    color: #b0bec5;
    text-align: right;
    opacity: 0.6;
    margin-left: 0.2em;
    margin-right: 0.6em;
    width: 1em;
    white-space: nowrap;
    line-height: 1.5;
  }

  &.currentLine {
    /*background-color: var(--syntax-selection-color);*/
  }
}

.viewBlock {
  overflow: auto;
}
