html, body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --syntax-text-color: #607D8B;
  --syntax-cursor-color: #009688;
  --syntax-selection-color: #D6EDEA;
  --syntax-background-color: #FAFAFA;
  --syntax-comment-color: #B0BEC5;
}

.matched {
  color: red;
}
.matched-0 {
  color: red;
}
.matched-1 {
  color: red;
}
.matched-2 {
  color: grey;
}
.matched-3 {
  color: green;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

body {
  counter-reset: section;
}
.block-line {
  padding-left: 30px;
  position: relative;
}
