html, body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.matched {
  color: red;
}
.matched-0 {
  color: red;
}
.matched-1 {
  color: red;
}
.matched-2 {
  color: grey;
}
.matched-3 {
  color: green;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
